{% extends "layouts/base.html" %}

{% block modal %}
  <!-- Modal new --> 
  <div class="col-md-4">
    <div class="modal" id="editcompanyModal" tabindex="-1" role="dialog">
    <div class="modal-body p-0">
      <div class="card card-plain">
        <form role="form" method="post" action="" class="text-start">
  
          {{ form.hidden_tag() }}
          <div class="card-body">
            <form role="form text-left">
              <div class="input-group input-group-outline my-3">
                <label class="form-control-label">Razon Social</label>
                <div class="input-group input-group-outline mb-3">
                  {{ form.companyname(class="form-control", placeholder="Razon Social") }}
                </div>
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-control-label">Descripcion</label>
                <div class="input-group input-group-outline mb-3">
                  {{ form.companydesc(class="form-control", placeholder="Descripcion") }}
                </div>
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-control-label">Codigo de la Organizacion</label>
                <div class="input-group input-group-outline mb-3">
                  {{ form.companycode(class="form-control", placeholder="Codigo") }}
                </div>
              </div>
              <div class="input-group input-group-outline my-3">
                <label class="form-control-label">Tipo de Organizacion</label>
                <div class="input-group input-group-outline mb-3">
                  <input type="select" hidden>
                  {{ form.companytype(class="form-control", placeholder="Tipo") }}
                </div>
              </div>
              <div class="text-center">
                <button type="button" name="Actualizar"
                  class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Actualizar</button>
              </div>
            </form>
          </div>
          <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <p class="mb-4 text-sm mx-auto">
              Don't have an account?
              <a href="javascript:;" class="text-info text-gradient font-weight-bold">Sign up</a>
            </p>
          </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
  <!-- end Modal new --> 
{% block script %} 
  <script>
    $(document).ready(function () {
      console.log("window is loaded")
      $("#editcompanyModal").modal("show")
    })
  </script>
{% endblock %}
  
