{% extends 'organizations/companies.html' %}

{% block modal %} 

<!-- Modal -->
<div class="modal" id="edit_company2" tabindex="-1" role="">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="card card-signup card-plain">
              <div class="modal-header">
                <div class="card-header card-header-primary text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                  </button>

                  <h4 class="card-title">Editar Organizacion</h4>

                </div>
              </div>
              <div class="modal-body">
                  <form class="form" method="" action="">
                      <p class="description text-center">Actualice los datos de su organizacion</p>
                      <div class="card-body">

                          <div class="form-group bmd-form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="material-icons">face</i></div>
                                </div>
                                <input type="text" class="form-control" placeholder="Razon Social...">
                              </div>
                          </div>

                          <div class="form-group bmd-form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="material-icons">email</i></div>
                                </div>
                                <input type="text" class="form-control" placeholder="Email...">
                              </div>
                          </div>

                          <div class="form-group bmd-form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="material-icons">lock_outline</i></div>
                                </div>
                                <input type="password" placeholder="Password..." class="form-control">
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer justify-content-center">
                  <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}


{% block script %} 
  <script>
    $(document).ready(function () {
      console.log("window is loaded")
      $("#edit_company2").modal("show")
    })
  </script>
{% endblock %}

